### Miscellaneous
.DS_Store
Thumbs.db

### Vagrant
/.vagrant

### Composer
/vendor/

### IDE
/.idea

### PHPCS
cs_fixer*
.php_cs.cache

### NodeJS
node_modules/

### WordPress
/htdocs/cms/
/htdocs/content/upgrade/

### Environment Credentials
### Normally we ignore the .env file but
### as this is a demo application, we keep
### the .env file configuration for sharing.