### Miscellaneous
.DS_Store
Thumbs.db
.idea/

### Composer
composer.lock
vendor/

### IDE
.idea/

### Wordpress
htdocs/cms/
htdocs/content/mu-plugins/themosis-framework/
htdocs/content/themes/themosis-theme/
htdocs/content/upgrade/
htdocs/content/languages/

### Environment Credentials
.env.*
!.env.local