### Miscellaneous
.DS_Store
Thumbs.db

### Composer
composer.lock
/vendor/

### IDE
.idea/

### Wordpress
/htdocs/cms/*
!/htdocs/cms/.gitkeep
/htdocs/content/mu-plugins/themosis-framework/
/htdocs/content/uploads/
/htdocs/content/upgrade/
/htdocs/content/languages/
/old-bookstore/
/old-themosis/

### Environment Credentials
.env.*.php