#bks-promo{
	width: 100%;
	max-width: 100%;
	background-color: #e375a2;
}

.promo-wrapper{
	position: relative;
	display: block;
	min-height: 400px;
	height: 400px;

	.promo-container{
		width: 380px;
		padding-top: 75px;

		h1{
			@include font-size(48);
			font-weight: 200;
			color: #ffffff;
			text-transform: uppercase;
		}

		h5{
			@include font-size(19);
			font-weight: 600;
			color: #ffffff;
			margin: 1.5em 0;
		}
	}

	.promo-media{
		position: absolute;
		bottom: -86px;
		right: 0px;
	}
}

/* POPULAR BOOKS */
#popular-books{
	padding-top: 4em;
}

#popular-container{
	padding: 2em 0;
}

/* BLOG */
#bks-blog{
	background-color: $dark-blue;
	padding: 4em 0;
	margin-top: 3em;

	.wrapper{
		.bks-title-box{
			border-color: #FFFFFF;
			
			h1{
				color: #ffffff;
			}

			a, a:link, a:visited, a:active{
				color: #ffffff;
			}

			a:hover{
				color: $green;
			}
		}
	}
}

.bks-home-blog{
	padding-top: 3em;

	ul{
		li{
			display: inline-block;
			margin-right: 115px;
			width: 420px;
		}

		.last{
			margin-right: 0px;
		}
	}
}

.home-article{
	width: 420px;

	h5{
		color: $main-color;
		@include font-size(14);
		text-transform: uppercase;
		font-weight: 600;
	}

	h2{
		color: #ffffff;
		@include font-size(29);
		font-weight: 200;
		margin: 0.8em 0;
		min-height: 2.2em;
	}

	p{
		color: #ffffff;
		line-height: 1.5em;
		text-indent: 1em;
	}

	.link-box{
		text-align: right;
		margin-top: 1em;

		a, a:link, a:visited, a:active{
			color: $dark-blue;
		}

		a:hover{
			color: #ffffff;
		}
	}
}