#blog{
	padding: 4em 0;
}

#news{
	padding-top: 3em;
}

#news--articles{
	float: left;
	width: 620px;
	margin-right: 60px;

	article{
		width: 620px;
		border-bottom: 1px solid #737373;
		padding-bottom: 3em;
		margin-bottom: 3em;

		.article--date{
			background-color: $main-color;
			display: inline-block;
			@include border-radius(3px,3px);
			margin-bottom: 1.5em;

			span{
				display: block;
				padding: 0.6em 1em;
				color: $dark-color;
				@include font-size(14);
				font-weight: 600;
				text-transform: uppercase;
			}
		}
		
		.article--title, .article--title:link, .article--title:visited, .article--title:active{
			text-decoration: none;
			color: $dark-color;
			
			h2{
				@include font-size(29);
				min-height: 2.5em;
				font-weight: 200;
			}

		}

		.article--title:hover{
			color: $green;
		}

		.article--excerpt{
			width: 100%;
			padding-top: 2em;

			.article--excerpt__content{
				float: right;
				width: 400px;
				text-align: right;
				padding-right: 60px;

				p{
					line-height: 1.5em;
				}

				a, a:link, a:visited, a:active{
					color: $dark-color;
					margin-top: 2em;
				  	text-decoration: underline;
				}

				a:hover{
					text-decoration: none;
				}
			}
		}
	}

	.last{
		border-bottom: none;
	}

	.single-article{
		border-bottom: none;

		.article--excerpt{

			.article--excerpt__content{
				text-align: left;

				p{
					margin-bottom: 1.2em;
				}

				.article--navigation{

					a[rel="prev"]{
						float: left;
						display: inline-block;
						background-color: $main-color;
						@include border-radius(8px, 8px);
						color: $dark-color;
						padding: 0.8em 1.4em;
						text-decoration: none;
						@include font-size(17);
						font-weight: 600;
						text-transform: uppercase;
					}

					a[rel="prev"]:hover{
						background-color: $dark-color;
						color: #ffffff;
					}

					a[rel="next"]{
						float: right;
						display: inline-block;
						background-color: $main-color;
						@include border-radius(8px, 8px);
						color: $dark-color;
						padding: 0.8em 1.4em;
						text-decoration: none;
						@include font-size(17);
						font-weight: 600;
						text-transform: uppercase;
					}

					a[rel="next"]:hover{
						background-color: $dark-color;
						color: #ffffff;
					}
				}
			}
		}
	}
}

#news--sidebar{
	float: left;
	width: 280px;
	background-color: $main-color;
}

.sidebar{
	padding: 20px 0;

	.sidebar--widget{
		padding: 0 20px;
		margin-bottom: 20px;

		.sidebar--widget__content{
			border-bottom: 1px solid $dark-color;

			h3{
				@include font-size(29);
				color: $dark-color;
				margin-bottom: 0.8em;
			}

			ul{
				li{
					margin-bottom: 1em;

					a, a:link, a:visited, a:active{
						text-decoration:none;
						color: $dark-color;
					}

					a:hover{
						text-decoration: underline;
					}
				}
			}

		}
	}

	.sidebar--widget:last-child{
		margin-bottom: 0px;

		.sidebar--widget__content{
			border-bottom: none;
		}
	}
}

.related-posts{
	margin-top: 0px !important;
}