$main-color: #fae677;
$dark-color: #252212;
$green: #71c141;
$dark-blue:#152830;
$width: 960px;
$max-width: 960px;

@mixin font-size($sizeValue: 16) {
  font-size: ($sizeValue) + px;
  font-size: ($sizeValue / 16) + rem;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}