<div class="promo-wrapper">
    <div class="promo-wrapper__inner">
        <div class="promo-left">
            <div class="promo__inner">
                {% for field in __fields %}
                    <div class="promo-field">
                        <label for="{{ field.atts.id }}">{{ field.features.title }}</label>
                        <div class="promo-field__input">
                            {{ field.metabox()|raw }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="promo-right">
            <div class="promo__inner">
                <h4>Custom metabox view</h4>
                <p>Here is an example of a <strong>simple</strong> custom metabox view.</p>
                <p>The metabox uses a custom view built with the Twig engine and renders core fields built with the Blade engine.</p>
                <p>This is only for demo purpose and shows how interoperable views are and how much flexible there are.</p>
                <h4>Documentation:</h4>
                <ul>
                    <li><a href="http://framework.themosis.com/" title="Themosis Framework" target="_blank">Themosis Framework</a></li>
                    <li><a href="http://framework.themosis.com/docs/1.3/metabox/" title="Metabox" target="_blank">Metabox</a></li>
                    <li><a href="http://framework.themosis.com/docs/1.3/field/" title="Field" target="_blank">Field</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>