#about{
	padding: 4em 0 0 0;
}

#about--content{
	padding-left: 280px;
	width: 400px;

	p{
		line-height: 1.5em;
		margin-top: 3em;
	}
}

/* TEAM */
#about--team{
	padding: 2em 0 0 0;

	ul{
		li{
			display: inline-block;
			width: 280px;
			margin-right: 55px;
			margin-bottom: 55px;
		}

		.last{
			margin-right: 0px;
		}
	}
}

.member{
	width: 280px;

	.member--picture{
		float: left;
		width: 104px;
		height: 104px;
	}

	.member--bio{
		float: left;
		margin-left: 20px;
		padding-top: 30px;

		h4{
			@include font-size(17);
			text-transform: uppercase;
			font-weight: 600;
			margin-bottom: 0.3em;
		}

		p{
			@include font-size(17);
			font-weight: 200;
			color: #b3a555;
		}
	}
}